// Import SASS modules
@use "sass:math";
@use "sass:color";
@use "sass:string";

// Mixin to handle media queries
@mixin media-query($point) {
  @if $point == $small-screen {
    @media (min-width: $small-screen) { @content; }
  }
  @else if $point == $medium-screen {
    @media (min-width: $medium-screen) { @content; }
  }
  @else if $point == $large-screen {
    @media (min-width: $large-screen) { @content; }
  }
  @else if $point == $larger-screen {
    @media (min-width: $larger-screen) { @content; }
  }
}

// Mixin for box sizing
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

// Box shadow mixin
@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

// Default box shadow
@mixin box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

// Mixin for transitions
@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
