/* LAYOUT CSS */
.cover {
  background-color: $background-color;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 15px 20px;
  z-index: 1;
  @include media-query($small-screen) {
    background-position: center;
    padding: 30px;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  color: $text-color;
  padding: 0 30px;
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: none;
    margin-top: 30px;
    @include media-query($medium-screen) {
      margin-right: 0;
      margin-top: 30px;
    }
  }
    .author_name {
    display: block;
    color: $secondary;
    font-family: $font-family-headings;
    font-size: 2em;
    font-weight: 700;
    text-transform: none;
    margin: 10px auto 10px;
    &:hover,
    &:focus {
      color: $highlight;
    }
  }
  .author_position {
    display: block;
    color: $secondary;
    font-size: 13px;
    font-weight: 600;
    text-transform: none;
    margin: 5px auto 15px;
    line-height: 1.4;
    font-style: italic;
  }
  .author_bio {
    font-size: 95%;
    display: block;
    margin-bottom: 20px;
  }
  @include media-query($medium-screen) {
    text-align: right;
    margin: 0 auto;
    padding: 0 0px 80px;
  }
}
.social-links {
  margin-top: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      a.social-link-item {
        color: $secondary;
        &:hover,
        &:focus {
          color: $highlight;
        }
      }
    }
  }
}
.nav-list {
  margin: 20px 0;
  padding: 0;
  list-style: none;
  .nav-item {
    display: block;
    margin: 4px 0;
    &:after {
      content: '';
    }
    & a {
      display: inline-block;
      font-size: 15px;
      font-weight: 600;
      color: $secondary;
      padding: 2px 0;
      transition: color 0.2s ease;
      &:hover,
      &:focus {
        color: $highlight;
      }
    }
    &.active a {
      color: $highlight;
      border-bottom: 2px solid $highlight;
    }
  }
}
.column {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

/* Manual column breaks */
.column-break {
    -webkit-column-break-after: always;
    break-after: column;
    page-break-after: always;
}

/* Alternative: break before */
.break-before {
    -webkit-column-break-before: always;
    break-before: column;
    page-break-before: always;
}
