/* LAYOUT CSS */
.cover {
  background-color: $background-color;
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 15px 20px;
  z-index: 1;
  @include media-query($small-screen) {
    background-position: center;
    padding: 30px;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  color: $text-color;
  padding: 0 30px;
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: none;
    @include media-query($medium-screen) {
      margin-right: 0;
    }
  }
    .author_name {
    display: block;
    color: $secondary;
    font-size: $font-size-h2;
    text-transform: none;
    margin: -5px auto 10px;
    &:hover,
    &:focus {
      color: $highlight;
    }
  }
  .author_job {
    display: block;
    color: $secondary;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: -5px auto 10px;
  }
  .author_bio {
    font-size: 95%;
    display: block;
  }
  @include media-query($medium-screen) {
    text-align: right;
    margin: 0 auto;
    padding: 0 0px 80px;
  }
}
.social-links {
  margin-top: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      a.social-link-item {
        color: $secondary;
        &:hover,
        &:focus {
          color: $highlight;
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .nav-item {
    *display: inline-block;
    display: inline;
    zoom: 1;
    &:after {
      content: '•';
    }
    &:last-child:after {
      content: '';
    }
    & a {
      margin-top: 1em;
      font-size: 100%;
      font-weight: bold;
      color: $secondary;
      &:hover,
      &:focus {
        color: $highlight;
      }
    }
    &.active a {
      color: $highlight;
    }
  }
}
.column {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
