---
layout: default
---

<div id="page">
  <header class="page-header">
    <h1 style="line-height: 1;">{{ page.title }}</h1>
  </header>

  <article class="page-content">
    {% if page.featured_image %}
    <img src="{{ page.featured_image }}"
         alt="{{ page.featured_image_alt | default: page.title }}"
         loading="lazy"
         {% if page.image_width %}width="{{ page.image_width }}"{% endif %}
         {% if page.image_align == 'right' %}
         style="float: right; margin-left: 30px; margin-bottom: 30px;"
         align="right"
         {% elsif page.image_align == 'left' %}
         style="float: left; margin-right: 30px; margin-bottom: 30px;"
         align="left"
         {% else %}
         style="margin-bottom: 30px;"
         {% endif %} />
    {% endif %}

    {% if page.columns and page.columns > 1 %}
      {% capture column_content %}
        {{ content }}
      {% endcapture %}
      <div class="responsive-columns" data-columns="{{ page.columns }}">
        {{ column_content }}
      </div>
    {% else %}
      {{ content }}
    {% endif %}
  </article>
</div>
{% include footer.html %}
